{% extends ":"~template~":base.html.twig" %}

{% block content %}
    <div data-slot="text">
        <container>
            <h1>Explore 000 the world of email!</h1>
        </container>
    </div>
{% endblock %}